@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--p)) hsl(var(--b2));
  }

  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: hsl(var(--b2));
    border-radius: 20px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: hsl(var(--p));
    border-radius: 20px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--pf));
  }
}

@keyframes customPulse {
  0%, 100% { opacity: 1; transform: scale(1); }
  50% { opacity: 0.5; transform: scale(0.99); }
}

.pulse-delay {
  animation: customPulse 3s ease-in-out infinite;
}